html {
  font-size: 20px;
  margin: 0;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  /* background: linear-gradient(#0B4C5F 0%, #04B4AE 52%, #0c0207 100%); */
  background-color: #bf3a30;
  background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
  background-size: cover;
  /* background-repeat: no-repeat;
  background-color: linear-gradient(to bottom, #0B4C5F 0%, #04B4AE 52%, #0c0207 100%); */
  margin-bottom: 0;
  font-family: 'Rubik Moonrocks', cursive;
}

/* text for intro*/
.intro {
  font-family: 'Arima', cursive;
}


#cielo {
  border-radius: 120px;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, #0B4C5F 0%, #04B4AE 52%, #0c0207 100%); */
  position: absolute;
  z-index: -30;
  top: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 3em;
  background-repeat: no-repeat;
}

#edificios {
  background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526533/eva/edificiosOne_fsg7nx.svg');
  background-size: auto;
  height: 44%;
  width: 100%;
  z-index: -10;
  margin: 0;
  overflow-x: hidden;
  top: 15em;
  left: 0.003em;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  -webkit-animation: animar_edificios 120s linear infinite;
  -ms-animation: animar_edificios 120s linear infinite;
  -moz-animation: animar_edificios 120s linear infinite;
  position: absolute;
}

/*Animacion edificios*/

@keyframes animar_edificios {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes animar_edificios {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-ms-keyframes animar_edificios {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-moz-keyframes animar_edificios {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

#luna {
  width: 6em;
  height: 6em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #F7F8E0;
  -webkit-box-shadow: 30px 10px 0 #F7F8E0;
  box-shadow: 30px 10px 0 #F7F8E0;
  margin-top: -4.5em;
  margin-left: 60%;
  position: absolute;
  z-index: -19;
}


#muro {
  height: 23em;
  width: 100%;
  background: -moz-linear-gradient(top, #416663 0%, #0c0207 19%);
  background: -webkit-linear-gradient(top, #416663 0%, #0c0207 19%);
  background: linear-gradient(to bottom, #416663 0%, #0c0207 19%);
  bottom: 0px;
  background-repeat: no-repeat;
}

#gato {
  background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
  height: 297px;
  width: 507.5px;
  margin-top: 23.8%;
  margin-left: 2em;
  z-index: 10;
  -webkit-animation: sprite-animation 1.2s steps(16, end) infinite;
  -moz-animation: sprite-animation 1.2s steps(16, end) infinite;
  -ms-animation: sprite-animation 1.2s steps(16, end) infinite;
  animation: sprite-animation 1.2s steps(16, end) infinite;
}

@-webkit-keyframes sprite-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -8120px 0;
  }
}

@-ms-keyframes sprite-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -8120px 0;
  }
}

@-moz-keyframes sprite-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -8120px 0;
  }
}

@keyframes sprite-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -8120px 0;
  }
}

.mapboxgl-map {
  align-items: center;
  margin-top: 10em;
}

.login-form {
  text-align: center;
  /* display: block; */
  /* flex-direction: column; */
  margin-top: -23em;
  overflow-x: hidden;
  border-radius: 10px;
  margin-left: auto;
  opacity: 0.90;

}

.header {
  vertical-align: top;
  display: inline-block;
}

/* Pin for the marker */
.pin {
  background: none;
  border: none;
  cursor: pointer;
}

.pin img {
  width: 40px;
  height: 40px;
}

/* 
.cat-card {
  padding-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;

} */

.cat-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: top center;
  aspect-ratio: 1;
  display: block;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

.edit-cat {
  /* background: none; */
  border: none;
  cursor: pointer;
}

.edit-cat img {
  align-items: center;
  width: 30px;
  height: 30px;
}

/*Navba / header */
.navbar a {
  margin-top: 0.5%;
  text-decoration: none;
  color: #4a3152;
  background-color: #cad8e5;
  padding: 4px;
  border-radius: 6px;
  margin-left: 6%;
  margin-right: 6%;
  border: 0.8px solid;
  border-color: #4a3152;
}

.cat-grid-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/*Blocks for cat individually */
.cat-grid-item {
  /* background: rgba(175, 191, 233, 0.6); */
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  border: 2px solid #221c43;
  padding: 8px;
  padding-top: 0px;
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.card-container {
  text-align: center;
  /* color: #f2e4f3; */
  /* color: #161516; */
  color: #280328;
}

/*signup  */
.signup-form {
  text-align: center;
  display: block;
  flex-direction: column;
  margin-top: -24.1em;
  overflow-x: hidden;
}

.login-redirect {
  text-align: center;
  display: block;
  flex-direction: column;
  margin-top: -23em;
  overflow-x: hidden;
}

.home {
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  border-radius: 10px;
  text-align: center;
  border: 1px solid #221c43;
  padding: 8px;
  padding-top: 0px;
}

/*Cat Form structure*/
.new-cat {
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  border-radius: 10px;
  text-align: center;
  border: 1px solid #221c43;
  padding: 8px;
  padding-top: 0px;
}

.label-new-cat {
  width: 30%;
  margin: 8px 0;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* New Marker structure for FORM*/
.new-sight {
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  border-radius: 10px;
  text-align: center;
  border: 1px solid #221c43;
  padding: 8px;
  padding-top: 0px;
}

.label-news {
  width: 50%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  display: inline-block;
}

.input {
  background-color: #fae0e5;
  /* background-image: linear-gradient(315deg, #a5a3e0 74% #f9c5d1 0%, ); */
  border-radius: 7px;
  text-align: center;
  border: 1px solid #221c43;
}

.bold {
  font-weight: bold;
}

/* button add marker*/
.button {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 10px;
  outline: 0;
  border: 1px solid #4a3152;
  color: rgb(250, 248, 251);
  font-family: 'Rubik Moonrocks', cursive;
  cursor: pointer;
  position: relative;
  margin-left: 35%;
  background-color: rgba(0, 0, 0, 0);
}

.button::after {
  content: "";
  /* background-color: #ffe54c; */
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover::after {
  top: 0px;
  left: 0px;
}

/* button go home*/
.button-home {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 10px;
  outline: 0;
  border: 1px solid #4a3152;
  color: rgb(250, 248, 251);
  font-family: 'Rubik Moonrocks', cursive;
  cursor: pointer;
  position: relative;
  margin-left: 40%;
  background-color: rgba(236, 236, 236, 0);
}

.button-home::after {
  content: "";
  /* background-color: #ffe54c; */
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-home:hover::after {
  top: 0px;
  left: 0px;
}



/* button go to sightings*/
.button-encounter {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 10px;
  outline: 0;
  border: 1px solid #4a3152;
  color: rgb(250, 248, 251);
  font-family: 'Rubik Moonrocks', cursive;
  cursor: pointer;
  position: relative;
  margin-left: 38%;
  background-color: rgba(236, 236, 236, 0);
}

.button-encounter::after {
  content: "";
  /* background-color: #ffe54c; */
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-encounter:hover::after {
  top: 0px;
  left: 0px;
}





/* button go to details*/
.button-details {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 10px;
  outline: 0;
  border: 1px solid #4a3152;
  color: rgb(250, 248, 251);
  font-family: 'Rubik Moonrocks', cursive;
  cursor: pointer;
  position: relative;
  margin-left: 40%;
  background-color: rgba(236, 236, 236, 0);
}

.button-details::after {
  content: "";
  /* background-color: #ffe54c; */
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-details:hover::after {
  top: 0px;
  left: 0px;
}





/* button submit marker*/
.button-marker {
  font-size: 15px;
  background-color: #f6bad4;
  letter-spacing: 1px;
  padding: 5px 10px 5px;
  border: 1.3px solid #4a3152;
  color: #4a3152;
  font-family: 'Rubik Moonrocks', cursive;
  border-radius: 6px;
}



/* button all cats*/
.button-all-cats {
  font-size: 13px;
  background-color: #f8e1eb;
  letter-spacing: 1px;
  padding: 2px 4px 2px;
  border: 1px solid #4a3152;
  margin-top: 3%;
  color: #4a3152;
  font-family: 'Rubik Moonrocks', cursive;
  border-radius: 4px;
}


/* login page */
.input-login {
  background-color: #fae0e5;
  /* background-image: linear-gradient(315deg, #a5a3e0 74% #f9c5d1 0%, ); */
  border-radius: 7px;
  text-align: center;
  border: 1px solid #221c43;
  margin-right: 2px;
  margin-bottom: 1px;
}

/* signup page */
.input-signup {
  background-color: #fae0e5;
  /* background-image: linear-gradient(315deg, #a5a3e0 74% #f9c5d1 0%, ); */
  border-radius: 7px;
  text-align: center;
  border: 1px solid #221c43;
  margin-left: 1px;
  margin-right: 7px;
  margin-bottom: 1px;
}

/* button login button*/
.button-login {
  font-size: 15px;
  background-color: #f6bad4;
  letter-spacing: 1px;
  /* padding: 5px 10px 5px; */
  border: 1.3px solid #4a3152;
  color: #4a3152;
  font-family: 'Rubik Moonrocks', cursive;
  border-radius: 6px;
}

/* button signup button*/
.button-signup {
  font-size: 15px;
  background-color: #f6bad4;
  letter-spacing: 1px;
  /* padding: 5px 10px 5px; */
  border: 1.3px solid #4a3152;
  color: #4a3152;
  font-family: 'Rubik Moonrocks', cursive;
  border-radius: 6px;
}